@charset "utf-8";
h1 {
	border: thin dotted #B55DBB;
	background-color: #EFA8A9;
	text-align: center;
}
h2 {
	border: thin double #B55DBB;
	text-align: center;
	margin: 10px;
	left: 50px;
}


body {
	background-color: #F2D7FF;
	text-align: center;
}title {
	color: pink;
	outline-color: purple;
}
</body> 
basefont {
}
