@charset "utf-8";
body {
	margin: 20px;
	border-style: solid;
	border-color: purple;
}
ul {
	text-align: left;
	border-color: #90ABD9;
	border-bottom-style: groove;
	border-top-style: groove;
	border-left-style: groove;
	border-right-style: groove;
}
